@model IEnumerable<TT.Models.TinTuc>


@{
    ViewData["Title"] = "Tin tức";
}

<div class="pagetitle">
    <h1>Tin tức</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=""></a></li>
            <li class="breadcrumb-item active">Tin tức</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <div class="top-row">
                        <div class="row" id="search">
                            <input type="hidden" name="page" id="page" onchange="loaddata()" />
                            <input type="hidden" name="pagesize" id="pagesize" onchange="loaddata()" />
                            <input type="hidden" name="tongbanghi" id="tongbanghi" onchange="loaddata()" />
                            <div class="search-container d-flex align-items-center gap-2">
                                <label for="keysearch">Tìm kiếm:</label>
                                <input type="text" name="keysearch" id="keysearch" placeholder="Nhập từ khóa tìm kiếm" onchange="loaddata()">
                            </div>
                            <div class="search-container d-flex align-items-center gap-2">
                                <label for="lisdm">Danh mục:</label>
                                <select class="select2DM form-control" id="lisdm" multiple = "multiple" name="lisdm" onchange = "loaddata()"></select>
                                @*@Html.DropDownList("lisdm", lstparent, "Chọn danh mục cha", new { @class = "form-control select2", @onchange = "loaddata()", @multiple = "multiple" })*@
                            </div>
                        </div>

                        <div class="add-category-button">
                            <a href="@Url.Action("Create", "TinTuc")"
                               class="btn btn-outline-primary fa fa-plus"
                               data-ajax="true"
                               data-ajax-mode="replace"
                               data-ajax-update="#target-div"
                               data-ajax-method="GET"
                               data-ajax-begin="BlockUI();"
                               data-ajax-complete="LoadModelSussess()"
                               data-ajax-failure="UnBlockUI();"
                               title="Thêm tin tức">
                            </a>
                        </div>
                    </div>

                    <div id="listdata">
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<div id="target-div">
</div>

@section Scripts {
    <script src="~/App/AppJs/TinTuc.js"></script>
    <script src="~/App/js/select2.js"></script>
}





